article
    background: #fff
    color: #4e5f62

section
    padding: 3em 20px
    &:after
        clear_fix()

    .wrapper
        text-align: left

    a
        color: #30C0E0
        text-decoration: underline

    img
        max-width: 100%
        &.full
            display: block
            margin: 0 auto
            width: 100%

    h1, h2, h3, h4
        color: #0e4e5c
        line-height: 1em
    h1
        font-size: 3.2em
        font-weight: 200
    h2
        font-size: 2.4em
        font-weight: 200
    h3
        font-size: 1.3em
        font-weight: 600
    h4
        font-weight: 600

    hr
        margin: 40px 0
        border-top: 1px double #eee

    p
        line-height: 1.4em

    blockquote
        background: #E4F5F8
        padding: 1.75em

    ul, ol
        li
            margin-left: 2em
        &.spaced li ~ li
            margin-top: 1.5em
    ul > li
        list-style: square
    ol > li
        list-style: decimal

    dl
        &:after
            clear_fix()
        dt,
        dd
            box_sizing(border-box)
            float: left
            margin: 1px 0
            padding: 1em
        dt
            background: #bde2e9
            color: #0e4e5c
            clear: both
            font-weight: 600
            text-align: right
            width: 30%
        dd
            background: #E4F5F8
            text-align: left
            width: 70%
            > a
                display: block
                font-weight: 600
                margin: -1em
                overflow: hidden
                padding: 1em
                text-overflow: ellipsis
                white-space: nowrap

    h1, h2, h3, h4, p, ul, ol, dl, blockquote, form, table, .input, .block
        ~h1, ~h2, ~h3, ~h4, ~p, ~ul, ~ol, ~dl, ~blockquote, ~form, ~table, ~.block
            margin-top: 1.5em

@media screen and (min-width: 1000px)
    .fourcol
        .col1,
        .col2,
        .col3,
        .col4
            margin-top: 0 !important
            width: 23.5%
        .col2,
        .col3,
        .col4
            margin-left: 2%

@media screen and (min-width: 800px) and (max-width: 999px)
    .fourcol
        .col1,
        .col2,
        .col3,
        .col4
            width: 48%
        .col1,
        .col3
            clear: left
        .col2,
        .col4
            margin-left: 4%

@media screen and (min-width: 800px)
    .twocol
        &:after
            clear_fix()
        .col1,
        .col2
            box_sizing(border-box)
            margin-top: 0 !important
            width: 48%
        .col1
            float: left
        .col2
            float: right
    .fourcol
        &:after
            clear_fix()
        .col1,
        .col2,
        .col3,
        .col4
            box_sizing(border-box)
            float: left
        .col1,
        .col2
            margin-top: 0 !important

@media screen and (min-width: 680px)
    .threecol
        &:after
            clear_fix()
        .col1,
        .col2,
        .col3
            box_sizing(border-box)
            float: left
            margin-top: 0 !important
            width: 32%
        .col2,
        .col3
            margin-left: 2%

@media screen and (min-width: 640px)
    article
        .imgl img,
        .imgr img
            display: block
        .imgl
            float: left
            margin: 0 2em 1em 0
        .imgr
            float: right
            margin: 0 0 1em 2em

@media screen and (max-width: 639px)
    article
        .imgl,
        .imgr
            text-align: center
            img
                display: block
                margin: 1.4em auto
