selection(#ffef96, #0e4e5c)

*:before,
*:after
    font-family: FontAwesome
    -webkit-font-smoothing: antialiased
    text-indent: 0 !important

html
    -webkit-text-size-adjust: 100%

body
    background: #144E5B
    color: #fff
    font: 20px Dosis, sans-serif
    font-weight: 400

strong,
strong *
    font-weight: 600
        
.wrapper
    box_sizing(border-box)
    margin: 0 auto
    max-width: 1200px
    position: relative
