#pmpro_pricing_fields
    background: #E4F5F8
    text-align: left
    .pmpro_thead-msg
        float: right

#pmpro_payment_information_fields
    border: 2px solid #E4F5F8
    text-align: left
    label
        display: block
        margin: 1.5em 0 .5em
