.pmpro_thead-msg
    display: block

#pmpro_pricing_fields
    background: #E4F5F8
    text-align: left
    .pmpro_thead-msg
        float: right

#pmpro_user_fields,
#pmpro_tos_fields,
#pmpro_payment_information_fields
    border: 2px solid #E4F5F8
    text-align: left

#pmpro_user_fields label,
#pmpro_payment_information_fields label
    display: block
    margin: 1.5em 0 .5em

#pmpro_tos_fields label
    display: inline-block

#pmpro_license
    border-bottom: 2px solid #DEEEF1
    padding-bottom: 1em
    margin-bottom: 1em
