section.hero
    background: 50% 50% no-repeat #E0F2F4
    .wrapper
        text-align: center

    h1
        font-size: 3em
        font-weight: 400
    h2
        font-size: 2em
        margin-top: .5em

    &.home01
        background-image: url('../images/home-hero-01.jpg')
        background-position: 50% 100%
        .hr
            background: url('../images/home-hr.png') 50% 50% no-repeat
            height: 90px
        .btn
            padding: 0
            width: 240px
        p
            margin-top: 0

    &.home02
        background-image: url('../images/home-hero-02.jpg')
        h1
            padding-top: 30px

@media screen and (min-width: 1600px)
    section.hero
        bg_size(cover)

@media screen and (min-width: 800px)
    section.hero
        height: 240px
        padding: 120px 20px

@media screen and (max-width: 1199px)
    section.hero br
        display: none

@media screen and (max-width: 799px)
    section.hero
        height: 360px
        padding: 60px 20px

@media screen and (max-width: 599px)
    section.hero
        font-size: .9em
        &.home01 .btn
            display: block
            margin: 0 auto
            ~ .btn
                margin-top: .5em

@media screen and (max-width: 479px)
    section.hero
        font-size: .8em
        padding-left: 10px
        padding-right: 10px
