section.mailchimp
    background: #558e9a
    text-align: center
    h2
        color: #fff

@media screen and (min-width: 800px)
    section.mailchimp
        input
            margin-right: 2px
            width: 250px

@media screen and (max-width: 799px)
    section.mailchimp
        input,
        button
            display: block !important
            margin: 0 auto 2px
            max-width: 400px
            width: 100%
