table
    margin: 1em auto
    text-align: center
    width: 100%

    th
        font-weight: 600

    thead
        th,
        td
            font-size: 1.2em
            padding: .8em
            vertical-align: middle
        th
            color: #0e4e5c

    tbody
        th,
        td
            padding: 1em
            ul,
            ol
                text-align: left
        th
            white-space: nowrap
        tr.odd
            th,
            td
                background: #E4F5F8
        tr.even
            th,
            td
                background: #fff
        tr.odd + tr.odd,
        tr.even + tr.even
            th,
            td
                padding-top: 0

    tfoot
        th,
        td
            padding: 1em

    th,
    td
        &.alignl
            text-align: left
        &.alignr
            text-align: right
        &.alignc
            text-align: center

    p.list
        font-size: .9em
        line-height: 1.2em
        margin: .75em 0 0
        span ~ span:before
            content: ', '

    p.notes
        color: #839a9e
        font-size: .9em
        margin: 0

    mark.price
        color: #0e4e5c
        display: block
        font-size: 1.2em

    mark.no,
    mark.yes
        color: #fff
        display: inline-block
        height: 1.5em
        margin: -.25em 0
        position: relative
        text-indent: -999em
        vertical-align: middle
        width: 1.5em
        &:before
            border_radius(1em)
            left: 0
            line-height: 1.5em
            position: absolute
            right: 0
            top: 0
            z-index: 2
        &[data-hint]:after
            border_radius(1em)
            color: #17849c
            content: attr(data-hint)
            font-size: .7em
            font-weight: 600
            left: 100%
            line-height: 1em
            min-width: 1em
            position: absolute
            top: 0
            white-space: nowrap
            z-index: 1
    mark.no:before
        background: #C7D7DA
        content: '\f00d'
    mark.yes:before
        background: #30C0E0
        content: '\f00c'

@media screen and (min-width: 800px)
    section.pricing table.narrow
        display: none

@media screen and (max-width: 799px)
    section.pricing table.wide
        display: none
